.Menu{position: absolute;top: -10;text-align: center;width: 100%;}
.Menu img{width: 70px;}
.FMenu{position: absolute;top: -40;text-align: center;width: 100%;}
.FMenu img{width: 650;}
body{
    background-color: beige;
}  
